<div class="col-md-4"> <!-- 3 карточки в ряд на средних экранах -->
    <div class="card mb-4">
        {% if post.featured_image %}
            <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post.name }}</h5>
            <p class="card-text">{{ post.excerpt }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать дальше</a>
            <div>
                <a href="{% url 'post_by_category' post.category.slug %}" class="badge bg-secondary">{{ post.category.name }}</a>
                {% for tag in post.tags.all %}
                    <a href="{% url 'post_by_tag' tag.slug %}" class="badge bg-info">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>