{% extends "base.html" %}

{% block title %}Создать статью{% endblock title %}
{% block header %}Создать статью{% endblock header %}

{% load crispy_forms_tags %}

{% block content %}

<form method="POST" action="" novalidate enctype="multipart/form-data">
    {% csrf_token %}

    {{form|crispy}}
    {% load static %}

    <button class="btn btn-primary">Создать</button>
</form>

<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    CKEDITOR.replace('id_content');  <!-- Укажите id поля -->
</script>

{% endblock content %}
